/dts-v1/;

/ {
	interrupt-parent = <0x8005>;
	#size-cells = <0x02>;
	#address-cells = <0x02>;
	compatible = "linux,dummy-virt";

	memory@5EA00000 {
		reg = <0x00 0x5EA00000 0x00 0x40000000>;
		device_type = "memory";
	};

	pl011@0xf6ff0000 {
		clock-names = "uartclk\0apb_pclk";
		clocks = <&apbpclk &apbpclk>;
		interrupts = <0x00 0x01 0x04>;
		reg = <0x00 0xf6ff0000 0x00 0x1000>;
		compatible = "arm,pl011\0arm,primecell";
	};

	intc@fee00000 {
		phandle = <0x8005>;
		reg = <0x00 0xfee00000 0x00 0x10000 0x00 0xfee10000 0x00 0x10000>;
		compatible = "arm,gic-v3";
		ranges;
		#size-cells = <0x02>;
		#address-cells = <0x02>;
		interrupt-controller;
		#interrupt-cells = <0x03>;
	};

	timer {
		interrupts = <0x01 0x0d 0xf04 0x01 0x0e 0xf04 0x01 0x0b 0xf04 0x01 0x0a 0xf04>;
		always-on;
		compatible = "arm,armv8-timer\0arm,armv7-timer";
	};

	psci {
		migrate = <0xc4000005>;
		cpu_on = <0xc4000003>;
		cpu_off = <0x84000002>;
		cpu_suspend = <0xc4000001>;
		method = "hvc";
		compatible = "arm,psci-1.0\0arm,psci-0.2\0arm,psci";
	};

	fw-cfg@6004000 {
		dma-coherent;
		reg = <0x00 0x6004000 0x00 0x18>;
		compatible = "qemu,fw-cfg-mmio";
	};

	cpus {
		#size-cells = <0x00>;
		#address-cells = <0x01>;

		cpu-map {

			socket0 {

				cluster0 {

					core0 {
						cpu = <0x8004>;
					};

					core1 {
						cpu = <0x8003>;
					};

					core2 {
						cpu = <0x8002>;
					};

					core3 {
						cpu = <0x8001>;
					};
				};
			};
		};

		cpu@0 {
			phandle = <0x8004>;
			reg = <0x00>;
			enable-method = "psci";
			compatible = "arm,cortex-a57";
			device_type = "cpu";
		};

		cpu@1 {
			phandle = <0x8003>;
			reg = <0x01>;
			enable-method = "psci";
			compatible = "arm,cortex-a57";
			device_type = "cpu";
		};

		cpu@2 {
			phandle = <0x8002>;
			reg = <0x02>;
			enable-method = "psci";
			compatible = "arm,cortex-a57";
			device_type = "cpu";
		};

		cpu@3 {
			phandle = <0x8001>;
			reg = <0x03>;
			enable-method = "psci";
			compatible = "arm,cortex-a57";
			device_type = "cpu";
		};
	};

	apbpclk:apb-pclk {
		phandle = <0x8000>;
		clock-output-names = "clk24mhz";
		clock-frequency = <0x16e3600>;
		#clock-cells = <0x00>;
		compatible = "fixed-clock";
	};

	chosen {
		linux,initrd-end = <0x67400000>;
		linux,initrd-start = <0x48000000>;
		bootargs = "root=/dev/ram0  ramdisk_size=14745600  nokaslr  console=ttyAMA0 earlycon=pl011,0xf6ff0000 loglevel=8 rw ";
		stdout-path = "/pl011@0xf6ff0000";
		kaslr-seed = <0x00 0x00>;
	};
};